{
        "search-queries": ["RT to win", "Retweet and win"],
        "follow-keywords": [" follow ", " follower "],
        "fav-keywords": [" fav ", " favorite "],
        "scan-update-time": 1800,
        "retweet-update-time": 20,
        "rate-limit-update-time": 10,
        "min-ratelimit":10,
        "min-ratelimit-retweet":20,
        "min-ratelimit-search":40,
	"consumer-key": "EfM68f14pvPkyslHW60sKeQqH",
	"consumer-secret": "SD9duO4Dn7UNz0GWLcWI6Mt2KGr7JIEUato2dOLnZV3pWwV3OY",
	"access-token-key": "3025467009-hulKfTekJ72qpHKnitVRbFcDp0dwbCiISSWIkcH",
	"access-token-secret": "TRoq7c91UG3mLjZxcFWGUIGPo63aM5aTBZcEbUiIUhxBQ"
}
